<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="images/lunch-menu.png" id="log" />  Welcome to our Restaurant
            </a>
        </div>
    </div>
</nav>
<ol class="breadcrumb">
    <li><a ui-sref="home">Home</a></li>
    <li><a ui-sref="mainList">Categories</a></li>
     <li class="active">{{ itemDetail.Name }}</li> 
</ol>
 

<form class="form-horizontal">
    <div class="bs-example" data-example-id="panel-without-body-with-table">
        <div class="panel panel-default">

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Short Name</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Small $</th>
                        <th>Large $</th>
                        <th>Small Portion Name</th>
                        <th>Large Portion Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in itemDetail.items">
                        <td>{{ item.id }}</td>
                        <td>{{ item.short_name }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.price_small }}</td>
                        <td>{{ item.price_large }}</td>
                        <td>{{ item.small_portion_name }}</td>
                        <td>{{ item.large_portion_name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
